:root {
  --color1: #FFFFFF;
  --color2: #000000;
  --color3: #FFBB98  ;
  --color4: #fce5cc   ;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url(./fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Cabin";
  src: url(./fonts/Cabin-VariableFont_wdth\,wght.ttf);
}

@font-face {
  font-family: "Abril";
  src: url(./fonts/AbrilFatface-Regular.ttf);
}

*{
  list-style: none;
  margin: 0px;
  padding: 0px;
}


body{
  background-color: var(--color1);
  color: var(--color2);
}

nav{
  display: grid;
  grid-template-columns: 10% 20% 70%;
  max-width: 1100px;
  margin: 0px;
  background-color: var(--color1);
  color: var(--color2);
  justify-content: space-around;
}

.logo-accueil{
  display: flex;
  justify-content: center;
}

.denomination{
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: "PlayfairDisplay";
  font-weight: bolder;
  font-size: 2rem;
}

.menu{
  padding: 20px 40px;
  font-size: 1rem;
}

img{
height: 100px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0px ;
}

nav li {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.9rem;
  cursor: pointer;
  position: relative;
  transition: 0.3s ease;
  padding: 20px 0;
}

nav li:hover{
  color: var(--color3);
}

.main-header {
  display: grid;
  grid-template-columns: 40% 60%;
  background: url(./living-room-8368673_1280.webp);
  background-position: center;
  background-size: cover;
  padding: 50px;
  max-width: 2000px;
  margin: 0 auto;

}

.box{
  background-color: #fbe0c367;
  color: var(--color2);
  height: 400px;
  border-radius: 10px;
  padding: 10pX;
  backdrop-filter: blur(10px);
}

.container-h1{
  text-align: center;
  margin-bottom: 20px;
}
.container-h2{
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 20px;
}
.container-h3{
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.e-mail {
  text-align: center;
  margin-bottom: 20px;
}

.e-mail input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 3px solid transparent;
  transition: 0.3s;
  text-align: center;
  font-size: 1.1rem;
  color: var(--color2);
  min-width: 180px;
  width: 10%;
  max-width: 300px;
}

input[type="text"]:focus {
  background: transparent;
  border: 3px solid var(--color2);
  border-radius: 150px;
}
input[type="text"]::placeholder {
  color: var(--color2);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

button {
  cursor: pointer;
  background: var(--color1);
  border: none;
  font-size: 1.3rem;
  padding: 10px 20px;
  border-radius: 150px;
  margin: 0 auto;
  display: block;
  transition: 0.1s;
}
button:hover {
  letter-spacing: 3px;
  background: transparent;
  border: 3px solid var(--color2);
  border-radius: 150px;

}
button:active {
  transform: scale(1.2);
}

.containerPresentation {
  background-color: var(--color4);
}

.containerPresentation1 {
  text-align: center;
  padding: 40px 40px 0px 40px;
  font-size: 1.5rem;
  width: calc(100% - 100px);
}

.containerPresentation2 {
  text-align: center;
  padding: 40px 40px 0px 40px;
  font-size: 1.2rem;
  width: calc(100% - 100px);
}

.containerPresentation3 {
  text-align: center;
  padding: 40px 40px 40px 0px;
  font-size: 1.2rem;
  width: calc(100% - 100px);
}

.containerPresentation4 {
  text-align: center;
  padding: 0px 40px 40px 40px;
  font-size: 1.2rem;
  width: calc(100% - 100px);
  text-align: center;
}

.containerproprietairesheader h2 {
  padding: 3% 3% 0 3%;
  text-align: center;
}

.services {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
   padding: 3%;
}

.accueil {
   padding: 3%;
}
.gestion {
   padding: 3%;
}
.assitance {
   padding: 3%;
}

.services li {
 padding: 3%;
}

.containerprice { 
  background: var(--color4);
  text-align: center;
  margin: 0 10% 3% 10%;
  min-height: 100px;
  border-radius: 20px;
}

.containerprice p {
  font-size: 2rem;
}

.Pourquoilafamilia {
  padding: 3% 10% 10% 10%;
  background: var(--color4);
}


.Pourquoilafamiliaintro {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.Pourquoilafamiliaintroimg{
  background: url(./living-room-8368673_1280.webp);
  background-position: center;
  background-size: cover;
  min-height: 200Px;
  margin: 5%;
}

.Pourquoilafamiliaintrotext {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5%;
}

.Pourquoilafamiliaavantages {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
   padding: 3%;
}

.avantagesfinanciers{
  padding: 1.5%;
}

.avantagesoperationnels {
  padding: 1.5%;
}

.avantageslocaux{
  padding: 1.5%;
}

.avantagespropriétaires{
  padding: 1.5%;
}

.Pourquoilafamiliaavantages li {
   padding: 1.5%;
   padding-top: 5%;
   padding-bottom: 5%;
}