:root {
  --color1: #FFFFFF;
  --color2: #000000;
  --color3: #FFBB98;
  --color4: #fce5cc;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url(./fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Cabin";
  src: url(./fonts/Cabin-VariableFont_wdth\,wght.ttf);
}

@font-face {
  font-family: "Abril";
  src: url(./fonts/AbrilFatface-Regular.ttf);
}

* {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color1);
  color: var(--color2);
  font-family: "Cabin", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--color1);
  color: var(--color2);
  width: 100%;
}

.logo-denomination {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo-accueil {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0px;
}

.denomination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
  font-family: "PlayfairDisplay";
  font-weight: bolder;
  font-size: 1.5rem;
  width: 250px;
}

.menu-list {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-grow: 1; /* Permet au menu de s'étendre et d'occuper l'espace restant */

}

.menu-list ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: space-around;
}


img {
  height: 100px;
}

nav li a {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.3s ease;
  padding: 20px 0;
  color: var(--color2);
  text-decoration: none;

}

nav li a:hover {
  color: var(--color3);
}

.contact-button {
  background-color: var(--color4);
  color: var(--color2);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-button:hover {
  background-color: var(--color3);
  color: var(--color2);
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  background-color: var(--color2);
  margin: 4px 0;
  height: 3px;
  width: 25px;
  transition: 0.3s;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.main-header {
  display: grid;
  grid-template-columns: 40% 60%;
  background: url(./img/living-room-8368673_1280.webp);
  background-position: center;
  background-size: cover;
  padding: 50px;
  max-width: 100%;
  margin: 0 auto;
}

.box {
  background-color: #fbe0c367;
  color: var(--color2);
  border-radius: 10px;
  padding: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 3px 30px rgba(33, 34, 35, 0.3) !important;

}

.container-h1 {
  text-align: center;
  margin-bottom: 10%;
}

.container-h2 {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 10%;
}

.container-h3 {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 15%;
}

.e-mail {
  text-align: center;
  margin-bottom: 20px;
}

.e-mail input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 3px solid transparent;
  transition: 0.3s;
  text-align: center;
  font-size: 1.1rem;
  color: var(--color2);
  min-width: 180px;
  width: 10%;
  max-width: 300px;
}

input[type="email"]:focus {
  background: transparent;
  border: 3px solid var(--color2);
  border-radius: 150px;
}

input[type="email"]::placeholder {
  color: var(--color2);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

button {
  cursor: pointer;
  background: var(--color1);
  border: none;
  font-size: 1.3rem;
  padding: 10px 20px;
  border-radius: 150px;
  margin: 5% auto;
  display: block;
  transition: 0.1s;

}

button:hover {
  letter-spacing: 3px;
  background: transparent;
  border: 3px solid var(--color2);
  border-radius: 150px;
}

button:active {
  transform: scale(1.2);
}

.no-underline {
  text-decoration: none; /* Enlève le soulignement */
  color: black;          /* Change la couleur du texte en noir */
}

.no-underline:visited {
  color: black;          /* Garde la couleur noire même après la visite */
}


.containerPresentation {
  background-color: var(--color4);
  padding: 1% 3% 1% 3%;
  margin: 3%;
  text-align: center;
  border-radius: 15px;
}

.containerPresentation1,
.containerPresentation2,
.containerPresentation3,
.containerPresentation4 {
  margin-bottom: 3%;
}

.containerPresentation1 h2 {
  font-size: 1.5rem;
  
}

.containerPresentation2 h3,
.containerPresentation3 h3,
.containerPresentation4 p,
.containerPresentation5 p{
  font-size: 1.2rem;
}

.containerproprietairesheader {
  padding: 3% 10% 0 10%;
  text-align: center;
}

.containerproprietairesheader h2 {
  margin:0% 5% 5% 5%;
}

/* Section "Comment ça marche" */
.section-how-do-we-work {
  background-color: var(--color1);
  padding: 5% 3% 1% 3%;
  text-align: center;

}

.section-how-do-we-work .container {
  max-width: 1200px;
  margin: 0 auto;

}

.section-how-do-we-work .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.section-how-do-we-work .col-lg-4 {
  flex: 1;
  min-width: 30%;
  margin-bottom: 2%;
}

.section-how-do-we-work .icon-wrapper {
  width: 100px;
  height: 100px;
  margin: 0 auto 20px;
  background-color: var(--color1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-how-do-we-work .icon {
  width: 60px;
  height: 60px;
  background-size: cover;
  background-position: center;
}

.section-how-do-we-work h6 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-family: "PlayfairDisplay", serif;
  color: var(--color2);
}

.section-how-do-we-work p {
  font-size: 1rem;
  color: var(--color2);
  font-family: "Cabin", sans-serif;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .section-how-do-we-work .col-lg-4 {
    flex: 1 1 100%;
    margin-bottom: 3%;
  }
}







.tarifgrid {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 3% 3% 0 3%;
}

.tarifcontainer {
  background: var(--color4);
  border-radius: 15px;
  text-align: center;
  padding: 5% 5% 0% 5%;
  box-shadow: 0px 3px 30px rgba(33, 34, 35, 0.3) !important;
}

.tarifcontainer h2 {
  font-size: 2rem;
}

.tarifcontainer p {
  font-size: 1.3rem;
}

/* Styles pour la section services-part */
.services-part {
  width: 100%;
  padding: 3%;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.service-column {
  flex: 1;
  min-width: 30%;
  margin: 1%;
  display: flex;
  flex-direction: column;
}

.column-title {
  font-size: 1.2rem;
  margin-bottom: 10%;
  font-family: "PlayfairDisplay", serif;
  text-align: center;
  color: var(--color2);
}

.service-category {
  margin-bottom: 3%;
  text-align: left; /* Alignement par défaut */

}

.service-title {
  font-size: 1rem;
  margin-bottom: 1%;
  font-family: "PlayfairDisplay", serif;
  text-align: left;
  cursor: pointer;
  position: relative;
}

.service-title::after {
  content: '+';
  position: absolute;
  right: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.service-title.active::after {
  content: '-';
}

.service-list {
  list-style: none;
  padding: 0;
  display: none;
}

.service-list.active {
  display: block;
}

.service-list li {
  font-size: 0.9rem;
  color: var(--color2);
  font-family: "Cabin", sans-serif;
  margin-bottom: 1%;
  display: flex;
  align-items: center;
}

.service-list li i {
  margin-right: 10px;
  color: var(--color3);
  font-size: 0.9;
}






.accueil {
  padding: 3%;
}

.gestion {
  padding: 3%;
}

.assistance {
  padding: 3%;
}

.services li {
  padding: 3%;
}

.containerprice {
  background: var(--color4);
  text-align: center;
  margin: 0 5% 3% 5%;
  min-height: 100px;
  border-radius: 20px;
}

.containerprice p {
  font-size: 2rem;
}

.pourquoilafamiliatitle {
  padding: 3% ;
  background: var(--color4);
  font-size: 1rem;
  margin: 3% 3% 0 3%;
  padding: 3% 3% 1% 3%;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0px 3px 30px rgba(33, 34, 35, 0.3)
}

.Pourquoilafamilia h2{
text-align: center;
}

.Pourquoilafamiliaintro {
  text-align: center;
  margin-bottom: 5%;
  margin-top: 5%;
}

.Pourquoilafamiliaintroimg {
  background: url(./img/living-room-8368673_1280.webp);
  background-position: center;
  background-size: cover;
  min-height: 200px;
  margin: 5%;
}

.Pourquoilafamiliaintrotext {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% 5% 0 5%;
}

.Pourquoilafamiliaavantages {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 1800px;
  padding: 3%;

}

.Pourquoilafamiliaavantages h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-family: "PlayfairDisplay", serif;
  color: var(--color2);
  text-align: center;
}

.Pourquoilafamiliaavantages ul {
  font-size: 1rem;
  color: var(--color2);
  font-family: "Cabin", sans-serif;

}



.Pourquoilafamiliaavantages .icon-wrapper {
  width: 100px;
  height: 100px;
  margin: 0 auto 20px;
  background-color: var(--color1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Pourquoilafamiliaavantages .icon {
  width: 60px;
  height: 60px;
  background-size: cover;
  background-position: center;
}


.Pourquoilafamiliaavantages li {
  padding: 1.5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 5%;
  gap: 20px;
}

.chiffrescles {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.chiffrescleimg {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.lieuxvisiter {
  grid-column: 2 / 2;
  grid-row: 2 / 3;
}

.lieuxvisiterimg {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.evenements {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.evenementsimg {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.gastronomie {
  grid-column: 2 / 2;
  grid-row: 4 / 5;
}

.gastronomieimg {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}



.faq {
  background-color: var(--color4);
  padding: 3% 3%;
  text-align: center;
}

.faq-header h2 {
  font-size: 1.5rem;
  margin-bottom: 3%;
  font-family: "PlayfairDisplay", serif;
}

.faq-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 2%;
}

.faq-category {
  flex: 1 1 48%;
  margin-bottom: 3%;
  padding: 2%;
  border-radius: 10px;
  background-color: var(--color1);
  box-shadow: 0px 3px 30px rgba(33, 34, 35, 0.3) !important;
  box-sizing: border-box;

}

.faq-category-title {
  font-size: 1.2rem;
  margin-bottom: 1%;
  font-family: "PlayfairDisplay", serif;
  text-align: left;
}

.faq-item {
  margin-bottom: 1%;
  padding: 1%;
  border-bottom: 1px solid var(--color2);
}

.faq-item:last-child {
  border-bottom: none;
}

.faq-question {
  font-size: 1rem;
  margin-bottom: 0.5%;
  font-family: "PlayfairDisplay", serif;
  cursor: pointer;
  position: relative;
  text-align: left;
}

.faq-question::after {
  content: '+';
  position: absolute;
  right: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.faq-question.active::after {
  content: '-';
}

.faq-answer {
  font-size: 0.9rem;
  color: var(--color2);
  font-family: "Cabin", sans-serif;
  display: none;
  padding-top: 1%;
  text-align: left;
}

.faq-answer.active {
  display: block;
}






.aixenprovence h2 {
  text-align: center;
  padding: 3%;
}

.aixenprovence h3 {
  text-align: center;
  padding: 3%;
}

.aixenprovence p {
  padding: 3%;
}

.aixenprovence ul {
  padding: 3%;

}

.aixenprovence li {
  display: list-item;
  font-size: 1REM; /* Taille du texte */
  margin-bottom: 8px; /* Espacement entre les éléments */
  color: #333; /* Couleur du texte */
  font-weight: 500; /* Légèrement en gras pour une meilleure lisibilité */
  list-style-type: disc; /* Utilisation de puces classiques */
  list-style-position: inside; /* Rapproche la puce du texte */

}


.chiffrescleimg {
  background: url(./img/Batiments\ Aix.jpg);
  background-position: center;
  background-size: cover;
}

.lieuxvisiterimg {
  background: url(./img/saintevictoire.jpg);
  background-position: center;
  background-size: cover;
}


.evenementsimg {
  background: url(./img/festival.jpg);
  background-position: center;
  background-size: cover;
}

.gastronomieimg {
  background: url(./img/Calissons.jpg);
  background-position: center;
  background-size: cover;
}
.aixenprovence img {
  background-position: center;
  background-size: cover;
  box-shadow: 0px 3px 30px rgba(33, 34, 35, 0.3)
}

.contact {
  background: var(--color4);
}

.nouscontactertitre {
  text-align: center;
  padding: 5%;
}



footer {
  background-color: var(--color4);
  color: var(--color2);
  padding: 40px 0 0 0;
  text-align: center;
  font-family: "Cabin", sans-serif;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1200px;
}

.footer-section {
  flex: 1;
  margin: 10px;
  min-width: 200px;
}

.footer-section h3 {
  color: var(--color2);
  margin-bottom: 15px;
  font-size: 1.25em;
  font-family: "PlayfairDisplay", serif;
}

.footer-section p,
.footer-section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-section ul li {
  margin: 10px 0;
}

.footer-section ul li a {
  color: var(--color2);
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: var(--color3);
}

.footer-section.social ul {
  display: flex;
  justify-content: center;
}

.footer-section.social ul li {
  margin: 0 10px;
}

.footer-section.social ul li a {
  font-size: 1.5em;
  color: var(--color2);
  transition: color 0.3s;
}

.footer-section.social ul li a:hover {
  color: var(--color3);
}

.footer-bottom {
  margin-top: 20px;
  padding: 10px 0;
  background-color: var(--color1);
}

.footer-bottom p {
  margin: 0;
  font-size: 0.9em;
  font-family: "Cabin", sans-serif;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo-denomination {
    width: 100%;
    
  }

  .menu-list {
    display: none;
    background-color: var(--color1);
    list-style: none;
    padding: 10px;
    margin: 0;
    position: absolute;
    top: 80px; /* Ajustez selon la position du hamburger */
    right: 20px; /* Positionnez-le à droite */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 3px 30px rgba(33, 34, 35, 0.3) !important;
    z-index: 500;
    transition: all 0.3s ease; /* Animation douce */
    width: max-content; /* Ajuste la largeur en fonction du contenu */
  }

  .menu-list.active {
    display: flex; /* Affiche la liste lorsqu'elle est active */
  }

  .menu-list ul {
    flex-direction: column; /* Affiche les éléments de la liste verticalement */
  }

  .menu-list ul li {
    padding: 10px 20px; /* Ajoute un padding pour espacer les éléments */
    text-align: center;

  }

  .hamburger {
    display: flex;
    margin-left: auto;
  }


  .main-header {
    grid-template-columns: 1fr;
  }

  .tarifgrid {
    grid-template-columns: 1fr;
  }

  .containerproprietairesheader {
    padding: 5%;
  }

  .services {
    flex-direction: column;
    align-items: center;
  }

  .service-column {
    min-width: 100%;
    margin: 0 0 2% 0;
    text-align: center;
  }

  .service-category{
    text-align: center;
    margin-bottom: 1%;
  }

  .column-title{
    margin-top: 3%;
    margin-bottom: 3%;

  }

  .service-title{
    text-align: center;
  }

  .Pourquoilafamiliaintro {
    grid-template-columns: 1fr;
  }



  .Pourquoilafamiliaavantages {
    flex-direction: column;
    align-items: center;
  }

  .Pourquoilafamiliaavantages li {
    padding: 0;
    text-align: center;
  }

  .faq-content {
    flex-direction: column;
    align-items: center;
  }

  .faq-category{
    width: 80%;
  }

  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;;

  }
  .chiffrescles,
  .chiffrescleimg,
  .lieuxvisiter,
  .lieuxvisiterimg,
  .evenements,
  .evenementsimg,
  .gastronomie,
  .gastronomieimg {
    width: 100%;
    margin-bottom: 20px; /* Ajoute un espace entre les éléments */
  }

  .chiffrescles {
    order: 1;
  }

  .chiffrescleimg {
    order: 2;
  }

  .lieuxvisiter {
    order: 3;
  }

  .lieuxvisiterimg {
    order: 4;
  }

  .evenements {
    order: 5;
  }

  .evenementsimg {
    order: 6;
  }

  .gastronomie {
    order: 7;
  }

  .gastronomieimg {
    order: 8;
  }

  .chiffrescleimg,
  .lieuxvisiterimg,
  .evenementsimg,
  .gastronomieimg {
    height: 300px;
  }

 
